[manifest]
version = "1.0.0"

[[patches]]
[patches.pattern]
target = "globals.lua"
pattern = """self.PROFILES = {
    {},
    {},
    {},
}"""
position = "at"
payload = """self.PROFILES = {}"""
match_indent = true

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = """function Game:load_profile(_profile)
    if not G.PROFILES[_profile] then _profile = 1 end"""
position = "at"
payload = """function Game:load_profile(_profile, info_only)
    _profile = tostring(_profile)
    G.PROFILES[_profile] = G.PROFILES[_profile] or {}
    local previous_profile = G.SETTINGS.profile"""
match_indent = true
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = """if info ~= nil then
    for k, v in pairs(STR_UNPACK(info)) do
        G.PROFILES[G.SETTINGS.profile][k] = v
    end"""
position = "after"
payload = """    if not info_only and SMODS and SMODS.Mods and SMODS.Mods.ProfilesPlus.config.enable_modpacks and SMODS.Mods.ProfilesPlus.config.modpacks[_profile] then
        local restart = false
        for id, in_new_pack in pairs(SMODS.Mods.ProfilesPlus.config.modpacks[_profile]) do
            if SMODS.Mods[id] and in_new_pack == (SMODS.Mods[id].disabled or false) then
                restart = true
                if in_new_pack then
                    NFS.remove(SMODS.Mods[id].path .. '.lovelyignore')
                else
                    NFS.write(SMODS.Mods[id].path .. '.lovelyignore', '')
                end
            end
        end
        if restart then
            compress_and_save('settings.jkr', G.SETTINGS)
            SMODS.save_all_config()
            SMODS.restart_game()
        end
    end
elseif _profile:sub(1, 3) == "pp_" and SMODS and SMODS.Mods then
    table.insert(SMODS.Mods.ProfilesPlus.config.save_order, _profile)
    SMODS.save_mod_config(SMODS.Mods.ProfilesPlus)"""
match_indent = true
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = """end

function Game:set_language()"""
position = "before"
payload = """   if info_only then
        G.SETTINGS.profile = previous_profile
    else
        SMODS.Mods.ProfilesPlus.set_modpack()
    end"""
match_indent = true

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "self:load_profile(G.SETTINGS.profile or 1)"
position = "at"
payload = "self:load_profile(G.SETTINGS.profile or '1', true)"
match_indent = true
[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = """for i = 1, 3 do
    if i ~= G.focused_profile and love.filesystem.getInfo(i..'/'..'profile.jkr') then G:load_profile(i) end
end
G:load_profile(G.focused_profile)"""
position = "at"
payload = """for _, i in ipairs(SMODS.Mods.ProfilesPlus.get_options()) do
  if love.filesystem.getInfo(i..'/profile.jkr') then G:load_profile(i, true) end
end"""
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = """else
local tab_but = G.OVERLAY_MENU:get_UIE_by_ID('tab_but_'..G.focused_profile)
G.FUNCS.change_tab(tab_but)"""
position = "at"
payload = """else
local save_order = SMODS.Mods.ProfilesPlus.config.save_order
G.PROFILES[G.focused_profile] = nil
SMODS.Mods.ProfilesPlus.config.modpacks[G.focused_profile] = nil
local option_index = G.OVERLAY_MENU:get_UIE_by_ID("profile_option_cycle").children[1].children[1].children[1].config.ref_table.current_option
if G.focused_profile:sub(1, 3) == "pp_" then
    table.remove(save_order, SMODS.Mods.ProfilesPlus.save_order_reverse(G.focused_profile))
    SMODS.save_mod_config(SMODS.Mods.ProfilesPlus)
end
G.OVERLAY_MENU:get_UIE_by_ID("profile_option_cycle").children[1]:remove()
G.OVERLAY_MENU:add_child(create_option_cycle { options = SMODS.Mods.ProfilesPlus.get_options(), current_option = option_index, ref_table = G, ref_value = "focused_profile", opt_callback = "scroll_profiles" },
    G.OVERLAY_MENU:get_UIE_by_ID("profile_option_cycle"))
G.FUNCS.scroll_profiles({
    from_key = option_index, from_val = G.focused_profile, to_key = option_index, to_val = save_order[option_index] or "New",
    cycle_config = G.OVERLAY_MENU:get_UIE_by_ID("profile_option_cycle").children[1].config })"""
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = """G.FILE_HANDLER.force = true

local tab_but = G.OVERLAY_MENU:get_UIE_by_ID('tab_but_'..G.focused_profile)
G.FUNCS.change_tab(tab_but)"""
position = "at"
payload = """G.FILE_HANDLER.force = true

local to_key = SMODS.Mods.ProfilesPlus.save_order_reverse(G.focused_profile)
G.FUNCS.scroll_profiles({ 
    from_key = to_key, from_val = G.focused_profile, to_key = to_key, to_val = G.focused_profile,
    cycle_config = G.OVERLAY_MENU:get_UIE_by_ID("profile_option_cycle").children[1].config })"""
match_indent = true
